
body{
	font-family: Arial, sans-serif;
}

.footer-container {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.rights-reserved {
    font-size: 0.9em;
}

/*---------------- Home Page ----------------------------*/

.bottom-img{
  background-image: url("images/purple-students-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding-bottom: 450px;
  margin-bottom: 20px;
}

.home-title{
  padding: 100px;
  background-color: #8c52ff;
  color: white;
}

.buttons{
  display: flex;
  flex-direction: column;
  width: 145px;
  padding-top: 90px;
}

#login-button{
  margin-bottom: 10px;
}

/*---------------- Home Page ----------------------------*/


/*---------------- Profile Page ----------------------------*/

.profile {
  max-width: 435px;
  background-color: #fff;
  border-radius: 10px;
  padding: 65px;
  margin-top: 20px;
  margin-left: 75px;
  height: 308px;
  box-shadow: 0 6px 10px rgba(140, 82, 255, 0.3);
}

.profile-title{
  padding: 100px;
  background-color: #8c52ff;
  color: white;
}

.profile-container{
  padding-top: 40px;
  padding-bottom: 260px;
}

.profile:hover{
  box-shadow: 0 10px 14px rgba(140, 82, 255, 0.73);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.profile-info {
  display: grid;
  grid-template-columns: 120px 1fr;
  gap: 10px;
  margin-bottom: 10px;
}

.profile-info label {
  font-weight: bold;
}

.enrolled-courses {
  margin: 50px auto;
  max-width: 50%;
}

.enrolled-courses h2 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 10px;
}

.enrolled-courses ul {
  list-style-type: none;
  padding: 0;
}

.enrolled-courses li {
  padding: 8px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  border-radius: 4px;
}

.enrolled-courses p {
  font-style: italic;
  color: #777;
}

.course-unenrollment {
  text-align: center;
}

.course-unenrollment h2 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 10px;
}

@media (max-width: 767px){
  .row-container{
    display: flex;
    justify-content: center;
  }

  .profile{
    margin-left: 0;
  }
}

/*---------------- Profile Page ----------------------------*/

/*---------------- Signup Page ----------------------------*/

.main-container{
  background-image: url("images/library.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 120px;
}

.form-container{
  display: flex;
  justify-content: center;
  width: 50%;
  padding: 40px;
  background-color: #8c52ff;
  color: white;
  border-radius: 60px;
  margin-left: 60px;
}

.input-box{
  background-color: #8c52ff;
  border: none;
  outline: none;
  border-bottom: 1px solid #4c07d4;
}

.form-inputs{
  width: 400px; 
}

.submit-button{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

/* Adjustments for large screens */
@media (max-width: 1199px){
  .form-container{
    width: 70%;
  }
}

/* Adjustments for small screens */
@media (max-width: 767px){
  .form-container{
    width: 80%;
  }
}

/*---------------- Signup Page ----------------------------*/

/*---------------- Login Page ----------------------------*/

.login-container{
  background-color: #8c52ff;
  padding: 106px;
  margin: 40px;
  width: 50%;
  border-radius: 80px;
  margin-bottom: 380px;
}

.error-msg{
  list-style-type: none;
  background: white;
  color: #f13434;
  width: 142px;
  padding: 5px;
  border-radius: 20px;
}

.main-login{
  background-image: url("images/login-page-img.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: auto;
}

/* Adjustments for large screens */
@media (max-width: 1199px){
  .login-container{
    width: 65%;
  }
}

/* Adjustments for meduim screens */
@media (max-width: 991px){
  .main-login{
    background-image: none;
  }

  .login-container{
    width: 100%;
  }
}

/* Adjustments for small screens */
@media (max-width: 767px){
  .login-container{
    margin: 40px 0 40px 0;
  }

  .main-login{
    padding-bottom: 270px;
  }
}

/*---------------- Login Page ----------------------------*/

/*---------------- Course Enrollment Page ----------------------------*/

.enrollment-title{
  padding: 100px;
  background-color: #8c52ff;
  color: white;
}

.enrollment-form{
  padding-top: 70px;
  padding-bottom: 500px;
}

#course{
  width: 660px;
  height: 36px;
  margin-bottom: 20px;
  border-radius: 7px;
  border-color: #8c52ff40;
}

/* Adjustments for small screens */
@media (max-width: 767px){
  #course{
    width: 473px;
  }
}





